// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}



 @font-face {
   font-family: 'Abel';
  src:  url('../fonts/abel.woff') format('woff');
   font-weight: 400;
   font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: 'YanoneKaffeesatzRegular';
 src:  url('../fonts/YanoneKaffeesatzRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzLight';
 src:  url('../fonts/YanoneKaffeesatzLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzBold';
 src:  url('../fonts/YanoneKaffeesatzBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzMedium';
 src:  url('../fonts/YanoneKaffeesatzBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'Vollkorn';
 src:  url('../fonts/Vollkorn.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'SFRegular';
 src:  url('../fonts/SFRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}



.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;
  font-family: 'Abel';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

.page-footer {
  background-color: #F8F8F6;
  min-height:153px;
  color: #838383;
  display: flex;
  font-size: 14px;

  &__inner {
    @include container();
  }
  & .row {
  // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
  @include row($grid-gutter-width, 10px, 12px, 16px, 20px, 26px);
  height:100%;
  align-items: center;

  &__col-1{
    @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 3, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 3, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 3, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
  }
  &__col-2{
    @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 6, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 6, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 6, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
  }
  &__col-3{
    @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 3, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 3, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 3, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    display: flex;
  }
}
  & a {
    color: #838383;
    text-decoration: none;
  }
  & .footer-center {
    color: #bbbbbb;
    text-align: center;

    & a {
      text-transform: uppercase;
      font-family: 'Vollkorn';
      color: #bbbbbb;
      text-decoration: none;
      letter-spacing: 1.5px;
    }
  }
  & .footer-right {
    text-transform: uppercase;
    font-family: 'Vollkorn';
    margin-left: 32px;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  @media screen and (max-width: 600px) { 
      text-align: center;

    & .row {

      &__col-1{
        padding:2rem 0.5rem 1rem;
      }
      &__col-2{
        padding:1rem 0.5rem;
      }

      &__col-3{
        flex-direction: column;
        padding:1rem 0.5rem;

        & ul {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
} 
.bottom-block {
  padding-bottom:50px;
  position:relative;
  width:100%;
  
  & ul {
    padding:0;
    margin:0;
    position: absolute;
    top:-110%;

    & li {
      list-style: none;
      padding-bottom:16px;

      & a.fb{
        padding-left: 5px;
      }
    }
  }
  @media screen and (max-width: 1024px) and (max-height: 600px) { 
     padding-bottom:5px;
     & ul {
        top:-180%;
      }
    }
   @media screen and (max-width: 600px) { 
    padding-bottom:5px;
    & ul {
        top:-180%;
      }
    & .wave_wrapper {
      width:70px;
    }
  }
  @media screen and (max-width: 370px) { 
      padding-bottom: 20px;
      & ul {
        top:-130%;
      }
  }

}
svg.sotial {
fill: #d0d0d0;
}
.water_wrapper {
  width:100vw;
  height:100%;
  overflow: hidden;
  position:absolute;

}
.water{
background: url(../img/fish.png);
background-position: center center;
background-repeat: no-repeat;
position:absolute;
opacity:0.3;
top:0;
right:0;
bottom:0;
left:0;
 animation: rotate 8s  ease-in-out;

}
@keyframes rotate {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}
.wave_wrapper {
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top:30px;
}
svg.wave {
    position: relative;
    left: -10px;
    width: 200px;
    animation: wave 5s linear infinite;
}
@keyframes wave {
  0% { 
    left: -85px; 
  }
  100% { 
    left: 0; 
  }
}
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  position:relative;



  & h1{
    font-size: 18px;
    color: #838383;
    margin: 0 auto;
    text-align: center;
    font-weight:400;
    margin-top: 77px;
    text-transform: uppercase;
    font-family: 'Vollkorn';
    text-decoration: none;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 2;
  }
 
  & p{
    line-height:16,71px;
    font-family: 'SFRegular';
    color: #838383;
    margin-top:0;
    margin-bottom:0;
  }
  & a {
    font-size: 14px;
    color: #838383;
    font-family: 'SFRegular';
    text-decoration: none;
  }
  & .main_menu {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    position: relative;
    z-index: 2;

    & li {
      list-style:none;
      width:169px;
      text-align: center;

      & a {
        font-family: 'YanoneKaffeesatzRegular';
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        color:#000000;
      }
    }
  }
  @media screen and (max-width: 1024px) and (max-height: 600px) { 
    & h1 {
      margin-top: 10px;
    }
  }
  @media (max-width: 600px) { 
    min-height:75vh;
    align-items: flex-start;
    & h1 {
      margin-top: 47px;
    }
    & .main_menu {

      & li {
        width: auto;
        padding: 0 0.7rem;
      }
    }
 
  }
  @media screen and (max-width: 370px) { 
   
    & .main_menu {

      & li {
       
        & a {
          font-size: 16px;
        }
      }
    }
  }
}
