// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}



 @font-face {
   font-family: 'Abel';
  src:  url('../fonts/abel.woff') format('woff');
   font-weight: 400;
   font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: 'YanoneKaffeesatzRegular';
 src:  url('../fonts/YanoneKaffeesatzRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzLight';
 src:  url('../fonts/YanoneKaffeesatzLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzBold';
 src:  url('../fonts/YanoneKaffeesatzBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'YanoneKaffeesatzMedium';
 src:  url('../fonts/YanoneKaffeesatzBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'Vollkorn';
 src:  url('../fonts/Vollkorn.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'SFRegular';
 src:  url('../fonts/SFRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'ss';
 src:  url('../fonts/ss.woff') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'RR';
 src:  url('../fonts/RobotoRegular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'RB';
 src:  url('../fonts/RobotoBold.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
 font-display: swap;
}

html, body {
  overflow-x: hidden;
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
    position:relative;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;
  font-family: 'Abel';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: Abel;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: 'Abel';
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
.site_title{
  font-size: 18px;
  color: #838383;
  margin: 0 auto;
  text-align: center;
  font-weight:400;
  margin-top: 37px;
  text-transform: uppercase;
  font-family: 'Vollkorn';
 
  letter-spacing: 1.5px;
  position: relative;
  z-index: 2;

  & a{
    color: #838383;
    text-decoration: none;

    &:hover {
      color: #bbbbbb;
    }
  }
}
.animate__delay-8s{

  animation-duration: 15s;

@media screen and (max-width: 600px) {
  animation-delay: 2s;
  animation-duration: 4s;
}
}
//footer
.page-footer {
  background-color: #F8F8F6;
  min-height:153px;
  color: #838383;
  display: flex;
  font-size: 14px;

  &__inner {
    @include container();
  }
  & .row {
  // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
  @include row($grid-gutter-width, 10px, 12px, 16px, 20px, 26px);
  height:100%;
  align-items: center;

  &__col-1{
    @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 3, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 3, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
  }
  &__col-2{
    @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 6, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 6, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
  }
  &__col-3{
    @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 3, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 3, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    display: flex;
  }
}
  & a {
    color: #838383;
    text-decoration: none;

    &:hover {
      color:#000;
    }
  }
  & .footer-center {
    color: #bbbbbb;
    text-align: center;

    & a {
      text-transform: uppercase;
      font-family: 'Vollkorn';
      color: #bbbbbb;
      text-decoration: none;
      letter-spacing: 1.5px;
    }
  }
  & .footer-right {
    text-transform: uppercase;
    font-family: 'Vollkorn';
    margin-left: 32px;
    font-size: 18px;
    letter-spacing: 1.5px;
     @media screen and (max-width: 600px) {
      margin-left: 0px;
     }
  }
  @media screen and (max-width: 600px) { 
      text-align: center;

    & .row {

      &__col-1{
        padding:2rem 0.5rem 1rem;
      }
      &__col-2{
        padding:1rem 0.5rem;
      }

      &__col-3{
        flex-direction: column;
        padding:1rem 0.5rem;

        & ul {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
} 
//bottom block
.bottom-block {
  padding-bottom:50px;
  position:relative;
  width:100%;

  &__inner {
    position: relative;
  }
  
  & ul {
    padding:0;
    margin:0;
    position: absolute;
    top:-180%;

    & li {
      list-style: none;
      padding-bottom:16px;

      & a.fb{
        padding-left: 5px;
      }
    }
  }
  & p{
    line-height:16,71px;
    font-family: 'SFRegular';
    color: #838383;
    margin-top:0;
    margin-bottom:0;
  }
  & a {
    font-size: 14px;
    color: #838383;
    font-family: 'SFRegular';
    text-decoration: none;
    transition: all 0.3s linear;
    
    &:hover {
      color:#000;
    }
  }
  @media screen and (max-width: 1024px) and (max-height: 600px) { 
     padding-bottom:5px;
     & ul {
        top:-180%;
      }
    }
    @media screen and (max-width: 769px) { 
      & ul {
        top:-180%;
      }
    }
   @media screen and (max-width: 600px) { 
    padding-bottom:5px;
    & ul {
        top:-180%;
        & li {
          padding-bottom: 5px;
        }
      }
    & .wave_wrapper {
      width:70px;
    }
  }
  @media screen and (max-width: 370px) { 
      padding-bottom: 20px;
      & ul {
        top:-130%;
      }
  }

}

a.sotial{
  transition: all 0.3s linear;
  & svg{
    fill: #d0d0d0;
  }
  &:hover svg {
    fill:#000000;
    transition: all 0.3s linear;
  }
}
.water_wrapper {
  width:100vw;
  height:100%;
  overflow: hidden;
  position:absolute;

}
.water{
background: url(../img/fish.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size:350px;
position:absolute;
opacity:0.3;
top:0;
right:0;
bottom:0;
left:0;
 animation: rotate 8s  ease-in-out;
@media screen and (max-width: 600px) { 
  animation: rotate 6s  ease-in-out;
}
}

@keyframes rotate {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}
.wave_wrapper {
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top:30px;
}
svg.wave {
    position: relative;
    left: -10px;
    width: 200px;
    

    &.played {
    animation: wave 5s linear infinite;
    }
}
@keyframes wave {
  0% { 
    left: -85px; 
  }
  100% { 
    left: 0; 
  }
}
.text-center {
  text-align: center;
}

.fixed {
  width:100vw;
  height:100vh;
  overflow: hidden;
}
// home page
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  position:relative;
  min-height:100vh;



  & .main_menu {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    position: relative;
    z-index: 2;
    opacity:1;
    

    & li {
      list-style:none;
      width:169px;
      text-align: center;

      & a {
        font-family: 'YanoneKaffeesatzRegular';
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        color:#000000;

        &:hover {
          color: #838383;
        }
      }
    }
  }
  @media (max-width: 1024px) { 
    .water{
      background-size: 320px;
    }
    }
  @media screen and (max-width: 1024px) and (max-height: 600px) { 
    & h1 {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 600px) { 
    min-height:100vh;
    align-items: flex-start;
    & h1 {
      margin-top: 47px;
    }
    & .main_menu {

      & li {
        width: auto;
        padding: 0 0.7rem;
      }
    }
 
  }
  @media screen and (max-width: 370px) { 
   
    & .main_menu {

      & li {
       
        & a {
          font-size: 16px;
        }
      }
    }
  }
}
.page {
 
  &__inner {
    @include container();
    position: relative;
  }

  &__content {
    padding:0 60px;
  }
  & .mb-0 {
    margin-bottom:0;
  }

  & .separator_left {
    position: absolute;
    top: 0;
    bottom: 0;
    height:100%;
    overflow: hidden;
   

    &__wrapper {
      display: block;
    position: relative;
    height: 60%; 
    animation-duration: 5s;

      & h3{
      transform-origin: 0 0;
      transform: rotate(-90deg);
      margin-top: 120%;
      color: #D4D4D4;
      font-family: 'VOLLKORN';
      font-weight: 400;

      & a {
        color: #D4D4D4;
        text-decoration: none;

      }
      &.small {
        margin-top: 50%;
      }
      &.big{
        font-size:36px;
        letter-spacing: 2px;
        margin-top: 140%;
      }
      }
   
    }

    &__border {
      width: 1px;
      height: 100%;
      background-color: #000;
      margin-left: 12px;
    }
    &__border--news {
      margin-left: 18px;
    }
    &__border--servise-one {
      height: 57%;
    }
    &__border--servise-two {
      height: 50%;
      margin-top:150%;
    }
    &__border--work-one {
      height: 42%;
    }
    &__border--work-two {
      height: 42%;
      margin-top:100%;
    }
    &__border--work-tree {
      height: 27%;
      margin-top:120%;
    }

    &--news {

      & h3 {
        font-size: 36px;
      }
    
  }
    &--servise {
    
      & h3 {
        font-size: 18px;
        letter-spacing: 2px;
      }
    }
    &--team {
    
      & h3 {
        margin-top:110%;
      }
    }
    @media screen and (max-width: 769px) {
      &--news {
        left:0;
        & h3 {
          font-size: 26px;
        }
      
    }
    }
 }
 & .separator_right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -196px;
  height:100%;
  overflow: hidden;
 
  &__wrapper {
    display: block;
  position: relative;
  height: 60%;
  animation-duration: 7s;

    & h3 {
    transform-origin: 80px 80px;
    transform: rotate(-90deg);
    margin-top: 120%;
    color: #D4D4D4;
    font-family: 'VOLLKORN';
    font-weight: 400;
    font-size:36px;

      & a {
        color: #D4D4D4;
        text-decoration: none;
      }
    }
  }

  &__border {
    width: 1px;
    height: 100%;
    background-color: #000;
    margin-left: 12px;
  }
  &__border--news {
    height: 50%;
  }
  @media screen and (max-width: 769px) {
  &__border--news {
    margin-left: 20px;
  }
}

  &--project {
    right:0;  
  }
  &--works {
    right:-300px;
    & h3 {
      color: #D4D4D4;
      font-size:36px;
      margin-top: 70%;
      letter-spacing: 2px;
    }
    & .separator_right__border--works-one {
      height:13%;
      margin-left:18px;
    }
    & .separator_right__border--works-two {
      margin-top: 50%;
      height:30%;
      margin-left:18px;
    } 
    & .separator_right__border--works-tree {
      margin-top: 100%;
      height:60%;
      margin-left:18px;
    }  
    & .separator_right__border--works-four {
      margin-top: 70%;
      height:23%;
      margin-left:18px;
    }   
  }
  &--works-1 {
    right:-240px!important;
  }
  &--images {
    right: -350px;

    & h3{
      margin-top: 70%;
    }
    & .separator_right__border--works-two {
      margin-top: 50%;
      height:30%;
      margin-left:18px;
    } 
  }
  &--consept {
    right:-470px; 
    & h3 {
      color: #D4D4D4;
      font-size:36px;
      margin-top: 80%;
      letter-spacing: 2px;
    }
    & .separator_right__border--consept-one {
      height:30%;
      margin-left:18px;
    }
    & .separator_right__border--consept-two {
      margin-top: 35%;
      height:30%;
      margin-left:18px;
    } 
  }
  &--servise {
    height:100%;
    right: -200px;
    
    & h3 {
      color:#000;
      font-size:18px;
      margin-top: 60%;
      letter-spacing: 2px;
    }
    & .separator_right__border--servise-one {
      height:50%;
    }
    & .separator_right__border--servise-two {
      margin-top: 80%;
      height:30%;
    }
  }

  @media screen and (max-width: 769px) {
    right: -155px;

    &--project {
      right: 25px;
    }
    &--servise {
      right: -200px;
    }
    &--consept {
      right: -435px;
    }
    &--works {
      right:-300px;
    }
    
  }
  &--team {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
    height: 100%;
    width: 20px;
    overflow: hidden;
   
    
    & .separator_right__border--team {
      width: 60px;
      height: 150px;
      background-color: #C4C4C4;
      margin-left: 12px;
    }

  }
  @media screen and (max-width: 480px) {
    &--consept {
      right: -455px;
    }
  }
}
  .separator_bottom{
    position: relative;
    
    &__wrapper {
      display: block;
    position: relative;
    height: 60%;
    animation-duration: 7s;

      & h3 {
      color: #D4D4D4;
      font-family: 'VOLLKORN';
      font-weight: 400;
      font-size:36px;
      text-align: right;
      animation-duration: 3s;

        & a {
          color: #D4D4D4;
          text-decoration: none;

        }
      }
    }
    &__border--one {
      width: 500px;
      height: 0.5px;
      background-color: #000;
      margin-left: 12px;
      position: absolute;
      top:18px;
      left:50px;
      animation-duration: 3s;
    }
    &__border--two {
      width: 350px;
      height: 0.5px;
      background-color: #000;
      margin-left: 12px;
      position: absolute;
      top:18px;
      left:-400px;
      animation-duration: 3s;
    }
    @media screen and (max-width: 600px) {
      &__border--one {
        top: 30px;
        left: -300px;
      }
    }
    @media screen and (max-width: 320px) {
      &__border--one {
        display: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    &__content {
      padding: 0 30px;
    }
  }
}
.about{
  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
    &__col-2{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
    &__col-3{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      padding-top:64px;
      display: flex;
      flex-direction: column;
  
      & .wrapper {
        flex-grow: 1;
      }
     }
     &__col-4{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 8, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 8, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 8, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 8, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
  }

  & .site_title {
    margin-bottom:40px;
  }

  & h3 {
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 3px;
    margin-top:0;
    line-height: 100%;
    margin-bottom: 30px;

    &.alt {
      font-family: 'Vollkorn';
      font-size:18px;
      margin-bottom: 1rem;
      line-height: 200%;
    }
  }
  
  & p {
   
    text-align: justify;

    &.que {
      font-weight: 600;
      text-align: left;
    }

    &:last-child{
      margin-bottom:4rem;
    }
  }
  & .vertical_separator{
    height:1px;
    width:80%;
    margin:0 auto;
    background-color: #000;

  }
  @media screen and (max-width: 600px) {
    .row__col-3 {
      padding-top:0px;
    }
    h3 {
      margin-top:20px;
      text-align: center;
      font-size:25px;

      &.alt {
        line-height: 150%;
      }
    }
  }
}

//project
.project {
  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 12, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 6, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 6, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      
    }
    &__col-2{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 12, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 6, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 6, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
    &__col-3{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 12, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 6, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 6, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
     }
     &__col-4{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 12, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 6, $grid-columns, 40px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 6, $grid-columns, 60px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
    &__el {
      display: flex;
      margin-bottom:20px;
      justify-content: space-between;
    }
  }
  & .site_title {
    margin-bottom:40px;
  }
  & .project_img {
    min-width:295px;
    min-height:295px;
    & img {
      width:295px;
      height:295px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  &__title {
    font-family: 'Vollkorn';
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    color:#000;
      &:hover {
        color:#838383;
      }

    &.ml-40{
      margin-left:40px;
    }
    &.mr-20 {
      margin-right: 20px;
    }

    &.rotate {
      transform-origin: 70% 30%;
      transform: rotate(-90deg);
      letter-spacing: 1px;;
    }

  }
  @media screen and (max-width: 600px) {
    .row__col-1{
      flex-direction: column;
      align-items: center;
    }
    .row__col-2{
      flex-direction: column-reverse;
      align-items: center;
    }
    .row__col-3{
      flex-direction: column;
      align-items: center;
    }
    .row__col-4{
      flex-direction: column-reverse;
      align-items: center;
    }
    .project__title {
      text-align: center;
    }
    .project__title.ml-40 {
      margin-left: 0px; 
    }
    .project__title.rotate {
      transform-origin: 70% 30%;
      transform: rotate( 0deg ); 
      letter-spacing: 0px;
  }
  }
}

//news
.news {

  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    overflow: hidden;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      animation-duration: 3s;
    }
    &__col-2{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      animation-duration: 3s;
    }
    &__col-3{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      animation-duration: 3s;
     }
  }
  & .site_title {
    margin-bottom:80px;
  }

  &__img {
    position: relative;
    height:580px;
    max-width: 300px;

    & img {
      object-fit: cover;
      height: 100%;
      }
  }

  &__rotate {
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 18px;

    &--one {
    bottom: -25px;
    right: -85px;
    }

    &--two {
      left: -40px;
      top: 185px;
    }
    &--tree {
      bottom: -27px;
      right: -85px;
      }
    &--four {
      left: -30px;
      top: 185px;
    }
    @media screen and (max-width: 600px) {
      &--two {
        left: -20px;
        line-height: 27px;
      }
      &--four {
        left: -20px;
        line-height: 27px;
      }
    } 
  }
  & .mt-100 {
    margin-top:200px;
  }
  & .mt-200 {
    margin-top:300px;
  }
  & .mb-100 {
    margin-bottom:130px;
  }
  @media screen and (max-width: 600px) {
    & .mt-100 {
      margin-top:10px;
    }
    & .mt-200 {
      margin-top:20px;
    }
    .news .site_title {
      margin-bottom: 40px;
  }
  }
}
a.btn {
  background: #F8F6DF;
  border: 1px solid #F8F6DF;
box-sizing: border-box;
letter-spacing: 0.2em;
text-transform: uppercase;
font-size: 11px;
padding: 15px 22px;
transition: all 0.3s linear;
position:relative;


 &:before {
  content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 48px;
	background: rgba(239, 234, 184, 0.3);
	border-radius: 3px;
	transition: all 2s ease;
  
 }

  &:hover:before, &:active:before, &:focus:before {
    width:100%;
  }
  &:hover, &:active, &:focus{
   outline: none;
   box-shadow: none;
   background-color: #F8F6DF;
   border: 1px solid #000000;
  
  }
}
.servise {
  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    overflow: hidden;
    margin-bottom:100px;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(xxl, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      animation-duration: 3s;
    }
  }
  
  & .page_title {
    font-family: 'YanoneKaffeesatzBold';
    font-size: 36px;
    text-align: center;
    margin-bottom:80px;
    text-transform: uppercase;

  }

  & .servise__title{
    font-family: 'Vollkorn';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom:30px;
    margin-top:30px;
  }
  & p {
    text-align: justify;
  }
  & .servise__subtitle {
    font-family: 'RR';
    font-weight: 600;
    margin:15px 0 15px 0;
  }
  & .servise__price {
    margin:30px 0;
  }
}

// consept 
.consept {
  
  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    overflow: hidden;
    margin-bottom:100px;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 6, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 6, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 6, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      animation-duration: 3s;
    }
    &__col-2{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 6, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 6, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 6, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 6, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      animation-duration: 3s;
    }
  }
  & .page_title {
    font-family: 'YanoneKaffeesatzBold';
    font-size: 36px;
    text-align: center;
    margin-bottom:80px;
    text-transform: uppercase;

  }

  & .servise__title{
    font-family: 'Vollkorn';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom:30px;
    margin-top:30px;
  }
  & p {
    text-align: justify;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
  & .grid__item--end{
    justify-self: self-end;
  }
  .content {
    
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
    }

    &__float {
      & .img {
        float:left;
        margin: 0 80px 20px 0;
      }

    }
    
    & .separator {
      width:147px;
      height:1px;
      background-color: #000;
      margin:45px 0;
    }
  }
  .img-1 {
    margin:0 40px 0 0;
    max-width: 495px;
    max-height:473px;
  }
  .img-2 {
    max-width:321px;
    max-height: 205px;
  }
  .img-3 {
  max-width:150px;
  max-height:143px;
  justify-self: self-end;
  }
  .img-3 {
    max-width:150px;
    max-height:143px;
    }
  .img-4 {
    max-width:253px;
    max-height:269px;
  }
  .img-5 {
    max-width:672px;
    max-height:496px;
  }
  .img-6 {
    max-width:354px;
    max-height:272px;
  }
  .img-7 {
    max-width:223px;
    max-height:188px;
    float: right;
  }
  .img-8 {
    max-width:259px;
    max-height:240px;
    margin-bottom:30px;
  } 
  .img-9 {
    max-width:498px;
    max-height:317px;
    margin-right: 40px;
  } 
  .img-10 {
    max-width:524px;
    max-height:528px;
  }
  .img-11 {
    max-width:266px;
    max-height:192px;
  }
  .img-12 {
    max-width:162px;
    max-height:158px;
    margin-top: -80px;
  }
  .img-13 {
    max-width:318px;
    max-height:233px;
  }
  .img-14 {
    max-width:246px;
    max-height:233px;
  }
  .img-15 {
    max-width:160px;
    max-height:147px;
    float:right;
  }
  .img-16 {
    max-width:416px;
    max-height:301px;
  } 
  .img {
    object-fit: cover;
    transition: all 0.5s linear;
    overflow: hidden;
     
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
     }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &.scale{
      position: fixed;
      max-width:90vw;
      max-height:98vh;
      width:98vw;
      height:90vh;
      top:0;
      left: 0;
      right: 0;
      margin:0 auto;
      margin-top:20px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
      & img {
        height: 100%;
        width: auto;
      }
    }
  }
  .mt-70 {
    margin-top:70px;
  }
  .mt-40 {
    margin-top:40px;
  }
  .mr-40 {
    margin-right:40px;
  }
  @media screen and (max-width: 769px) {
    .img {
      max-width: 100%;
      max-height:600px;
      margin-right:0px;
      margin-top:0px;
      margin-bottom:40px;

    }
    .img-1 {
      margin-top:0px;

    }
    .content__float{
       .img {
      float: left;
      margin: 0 00px 40px 0; 
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: masonry;
    }
    .grid-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: masonry;
    }
    & .grid__item--end{
      justify-self: center;
    }
    .mr-40 {
      margin-right:0px;
    }
    .mt-70 {
      margin-top:0px;
    }
    .mt-40 {
      margin-top:0px;
    }
    a.btn {
      margin-bottom:20px;
    }
  }
  @media screen and (max-width: 480px) {
    .scale{

      & img {
        height: auto;
        width: auto;
      }
    }
    .content__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: masonry;
    }
  }
}
//work
.work {
  
  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    overflow: hidden;
    margin-bottom:100px;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
    &__col-2{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }
    &__col-3{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    }

    &__el {
      position: relative;
      padding-top:100px;
    }
  }
  & .phone-visible {
    display: none;
  }
  & .page_title {
    font-family: 'YanoneKaffeesatzBold';
    font-size: 36px;
    text-align: center;
    margin-bottom:80px;
    text-transform: uppercase;

  }

  & .servise__title{
    font-family: 'Vollkorn';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom:30px;
    margin-top:30px;
  }
  & p {
    text-align: justify;
  }
  & ol {
    margin: 40px 0;
    padding: 0 12px;

    & li {
      padding: 5px 0 5px 15px;
    }
  }

  .number-card {
    padding: 25px 40px;
    animation-duration: 3s;

    &__number {
      font-size: 144px;
      font-weight:600;
      text-align: center;
      font-family: 'RB';
      height:184px;

      & .rotate {
        display: inline-block;
        transform: rotate(-90deg);
        transform-origin: 20%;
      }
    }
    &__title {
      font-family: 'Vollkorn';
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &__content {
   
    }
  }
  
  & .work__separator {
    width:1px;
    background-color: #000;
    height:70%;
    position: absolute;
    right:0;
    animation-duration: 3s;
    

    &--one {
      top:100px;
    }

    &--two {
      top:0;
    }
  }
  & .mt-90 {
    margin-top:90px;
  }
  @media screen and (max-width: 768px) {
    
    .number-card {
      padding: 15px 10px;
      
      &__number {
        font-size: 100px;
      }
  }
}
  @media screen and (max-width: 690px) {
    .phone-visible {
      display: block;
    }
    .display-wisible {
      display: none;
    }
    .row {
      &__el {
        padding-top: 20px;
      }
    }
    .number-card{
      padding:15px 10px;
      &__number {
        font-size: 144px;
      }
    }
    .mt-90 {
      margin-top: 0;
    }
    .work__separator {
      display: none;
    }
    p {
      padding-right: 20px;
    }
  }

}

//works
.works {

  & .page_title {
    font-family: 'YanoneKaffeesatzBold';
    font-size: 36px;
    text-align: center;
    margin-bottom:30px;
    text-transform: uppercase;

  }

  & .servise__title{
    font-family: 'Vollkorn';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom:30px;
    margin-top:30px;
  }

  & ul.main_menu {
    display: flex;
    justify-content: center;
    margin-bottom:100px;

    & li {
      font-family:'Vollkorn';
      font-size: 18px;
      margin-right: 30px;
      list-style: none;
      text-transform: uppercase;

      & a {
        text-decoration: none;
        color:#000;

        &:hover {
          color:#838383;
        }
      }
    }
  }
  .proekts__title {
    font-family:'Vollkorn';
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-left: 28px;
    text-transform: uppercase;

     & span {
       display: block;
      font-size: 14px;
      font-family: 'Abel';
      font-weight: 400;
      letter-spacing: 0;
      padding-top:20px;
      text-transform: none;
     }
  }
  & .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
  }
  & .grid-3 {
    display: grid;
    grid-template-columns: 200px 1fr 200px ;
    grid-template-rows: masonry;
  }
  & .grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
  & .grid-5 {
    display: grid;
    grid-template-columns: 450px 1fr 200px ;
    grid-template-rows: masonry;
  }
  & .grid-6 {
    display: grid;
    grid-template-columns: 350px 1fr 200px ;
    grid-template-rows: masonry;
  }

  & .grid-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  & .img {
     object-fit: cover;
    transition: all .5s linear;
    overflow: hidden;

    & img {
      object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    &.scale{
      position: fixed;
      max-width:90vw;
      max-height:98vh;
      width:98vw;
      height:90vh;
      top:0;
      left: 0;
      right: 0;
      margin:0 auto;
      margin-top:20px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
      & img {
        height: 100%;
        width: auto;
      }
    }
  }
  & .img-1 {
    max-width: 505px;
    max-height: 423px;
    position:relative;
    overflow: visible;
    z-index: 1;

    &:before {
      content: '';
      width:1px;
      height: 794px;
      background-color: #000000;
      position: absolute;
      top:-50px;
      left:50%;
      z-index: 0;

    }
    & img {
      position: relative;
      z-index: 1;
    }
  }
  & .img-2 {
    max-width: 171px;
    max-height: 238px;
  }
  .img-2-2{
    max-width: 272px;
    max-height: 229px;
    position: relative;
    overflow: visible;

    &:after {
      content:" ";
      height:1px;
      width:200px;
      background-color: #000;
      position: absolute;
      top:50%;
      right:-200px;

    }
  }
  & .img-3 {
    max-width: 384px;
    max-height: 236px;
    justify-self: center;
  }
  & .img-2-3 {
    max-width: 352px;
    max-height: 248px; ;
  }

  & .img-4 {
    max-width: 191px;
    max-height: 184px;
  }
  & .img-2-4 {
    max-width: 380px;
    max-height: 275px;
  }
  & .img-5 {
    max-width: 187px;
    max-height: 193px;
  }
  & .img-2-5 {
    max-width: 158px;
    max-height: 129px;
  }
  & .img-6 {
    max-width: 493px;
    max-height: 426px;
  }
  & .img-2-6 {
    max-width: 133px;
    height: 207px;
    float: left;
    margin-right:10px;
  }
  & .img-7 {
    max-width: 190px;
    max-height: 186px;
  }
  & .img-2-7 {
    max-width: 224px;
    height: 207px;
  }
  & .img-8 {
    max-width: 387px;
    max-height: 239px;
  }
  & .img-9 {
    max-width: 171px;
    max-height: 241px;
  }
  & .img-2-9 {
    max-width: 453px;
    min-width: 453px;
    max-height: 371px;
    overflow: visible;
    position: relative;
    &:after {
      content:" ";
      height:1px;
      width:200px;
      background-color: #000;
      position: absolute;
      top:50%;
      right:-200px;

    }
  }
  & .img-10 {
    max-width: 354px;
    max-height: 341px;
  }
  & .img-2-10 {
    max-width: 179px;
    max-height: 156px;
    justify-self: flex-end;
  }
  & .img-11 {
    max-width: 151px;
    max-height: 139px;
    align-self: center;
    justify-self: flex-start;
  }
  & .img-2-11 {
    max-width: 250px;
    max-height: 198px;
    justify-self: flex-end;
  }
  & .img-12 {
    max-width: 505px;
    max-height: 423px;
  }
  & .img-2-12 {
    max-width: 228px;
    max-height: 225px;
  }

  & .img-13 {
    max-width: 394px;
    max-height: 249px;
  }
  
  & .img-2-13 {
    max-width: 170px;
    max-height: 145px;
  }

  & .img-14 {
    max-width: 423px;
    max-height: 324px;
  }

  & .img-2-14 {
    max-width: 476px;
    max-height: 375px;
    position: relative;
    overflow: visible;

    &:before {
      content: '';
      width:1px;
      height: 794px;
      background-color: #000000;
      position: absolute;
      top:-50px;
      left:50%;
      z-index: 0;

    }
    & img {
      position: relative;
      z-index: 1;
    }
  }

  & .img-15 {
    max-width: 230px;
    max-height: 196px;
  }
  & .img-2-15 {
    max-width: 170px;
    max-height: 139px;
  }
  & .img-16 {
    max-width: 493px;
    max-height: 426px;
  }
  & .img-2-16 {
    max-width: 413px;
    max-height: 338px;
  }
  & .img-17 {
    max-width: 209px;
    max-height: 192px;
  }
  & .img-2-17 {
    max-width: 221px;
    max-height: 181px;
    float:left;
  }
  & .img-18 {
    max-width: 252px;
    max-height: 244px
  }
  & .img-2-18 {
    max-width: 311px;
    max-height: 254px;
   
  }
  & .img-19 {
    max-width: 352px;
    max-height: 343px;
   
  }
  & .img-2-19 {
    max-width: 167px;
    max-height: 134px;
    float:left;
  }
  & .img-20 {
    max-width: 151px;
    max-height: 139px;
  }
  & .img-2-20 {
    max-width: 191px;
    max-height: 194px;
  }
  & .img-21 {
    max-width: 499px;
    max-height: 423px;
  }
  & .img-2-21 {
    max-width: 160px;
    height: 228px;
    float: left;
  }
  & .img-22 {
    max-width: 278px;
    height: 233px;
    align-self: flex-start;
  }
  & .img-2-22 {
    max-width: 279px;
    max-height: 228px;

  }
  & .img-23 {
    max-width: 366px;
    max-height: 297px;
  }
  & .img-24 {
    max-width: 201px;
    max-height: 192px;
  }
  & .img-25 {
    max-width: 346px;
    max-height:322px;
  }
  & .content-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & .work-title {
    font-family:'Vollkorn';
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--before {
      width: 80%;

      &:before {
        content: '';
        width:248px;
        height:0.5px;
        background-color: #000;
      }
    }
    &--beforeabsolute {
      width: 100%;
      position: relative;

      &:before {
        content: '';
        width:248px;
        height:0.5px;
        background-color: #000;
        position: absolute;
        top: -130px;
        right: 0;
      }
    }
    &--after {
 
      &:after {
        content: '';
        width:248px;
        height:0.5px;
        background-color: #000;

      }
    }
  }
  .mb-80 {
    margin-bottom:100px;
  }
  .mb-40 {
    margin-bottom:40px;
  }
  
  .mt--30 {
    margin-top:-50px;
  }
  .mt--80 {
    margin-top:-80px;
  }
  .mt--100 {
    margin-top:-120px;
  }
  .mt-40 {
    margin-top:40px;
  }
  .mt-80 {
    margin-top:100px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-40 {
    margin-left: 40px;
  }
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

  }
    @media screen and (max-width: 768px) {

      & .work-title {
        font-family:'Vollkorn';
        font-size: 18px;
        letter-spacing: 1.5px;
        font-weight: 600;
        margin-left: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top:20px;
    
        &--before {
          width: 80%;
    
          &:before {
            content: '';
            width:100px;
            height:0.5px;
            background-color: #000;
          }
        }
        &--after {
 
          &:after {
            content: '';
            width:100px;
            height:0.5px;
            background-color: #000;
    
          }
        }
        &--beforeabsolute {
          width: 100%;
          position: relative;
    
          &:before {
            content: '';
            width:150px;
            height:0.5px;
            background-color: #000;
            position: absolute;
            top: -130px;
            right: 0;
          }
        }
    }

    .img-4{
    margin-left: auto;
    }
    .mr-40 {
      margin-right: 20px;
    }
    .ml-40 {
      margin-left: 20px;
    }
    .mb-40 {
      margin-bottom:0;
    }
  }
  .grid-5{
    margin-top:20px;
    grid-template-columns: 450px 200px;
  }
  @media screen and (max-width: 600px) {
    .grid{
      grid-template-columns: 1fr; 
    }
    .grid-3{
      grid-template-columns: 1fr; 
    }
    .grid-4{
      grid-template-columns: 1fr; 
    }
    .grid-5{
      grid-template-columns: 1fr; 
    }
    .grid-6{
      grid-template-columns: 1fr;

    }
    ul.main_menu {
      padding:0;
      margin-bottom: 50px;
    

      & li {
        font-size: 14px;
        margin-right: 10px;
      }
    }
    .img-1:before{
      background: transparent;
    }
    .img {
      width:100%;
      max-width:100%;
      margin-bottom:10px;
      margin-top:10px;
      min-width:100px;
      max-height: 100%;
      min-height:100px;
    }
    .mb-80 {
      margin-bottom:20px;
    }
    .mr-40 {
      margin-right:0!important;
    }
    .ml-40 {
      margin-left:0!important;
    }
    .mt-40 {
      margin-top:0px;
    }
    .ml-20{
      margin-left:0;
    }
    .d-flex {
      align-content: center;
      align-items: center;
    }

  }
  @media screen and (max-width: 376px) {
    ul.main_menu li {
      font-size: 12px;
      margin-right: 10px;
  }
  .proekts__title {
    font-size: 14px;
  }
  }
}
//team 
.team {
  position: relative;
  z-index: 2;

  & .row {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 10px, 12px, 16px, 40px, 80px);
    height:100%;
    overflow: hidden;
     margin-top:50px;
    
    &__col-1{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 6, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      display:flex;
      flex-wrap:wrap;
      align-items:center;
    }
    &__col-2{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 6, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      display:flex;
      flex-wrap:wrap;
      align-items:center;
    }
    &__col-3{
      @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
      @include col(sm, 12, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
      @include col(md, 6, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
      @include col(lg, 4, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
      @include col(xl, 4, $grid-columns, 60px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
      @include col(xxl, 4, $grid-columns, 80px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
      display:flex;
      flex-wrap:wrap;
      align-items:center;
    }
  }
  & .team-card {
    width:100%;
    margin-bottom:40px;
    padding: 1rem 2rem;
    text-align: center;

    &__img {
      width:270px;
      height:270px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:50%;
      transition: all 0.5s linear;
      opacity:0.8;
      & img {
       width: 100%;
       height: 100%;
       object-fit:cover;
       filter: grayscale(2);
      }

      &:hover {
        transform: scale(1.1);
        opacity:1;
      }
    }
    &__title {
      font-family:'Vollkorn';
      font-weight:600;
      font-size:18px;
      margin: 1rem 0;
    }

  }
  @media screen and (max-width: 480px) {
      padding:0 2rem;
    
    .team-card {
      padding:1rem 0;
    }
  }  
}
 .h3_team {
    transform-origin: 80px 80px;
    transform: rotate(-90deg);
    margin-top: 120%;
    color: #D4D4D4;
    font-family: 'VOLLKORN';
    font-weight: 400;
    font-size:36px;
    position: absolute;
    bottom: 0;
    right: 200px;
  }
  .bg_team-1 {
    position:absolute;
    left:-200px;
    width: 400px;
    height:800px;
    bottom:0;
    filter: opacity(75%);
    background-color: #f5f2f2;
    z-index: 0;
    & img {
      height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.1;
    position: absolute;
    left: -200px;
    }
  }
  .bg_team-2 {
    position:absolute;
    right:-250px;
    width: 300px;
    height:800px;
    bottom:300px;
    filter: opacity(75%);
    z-index: 0;
    & img {
      height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    right: 0px;
    transform: scale(-1, 1);
    filter: grayscale(2);
    }
  }
  @media screen and (max-width: 769px) {
   
    .bg_team-2 {
    display: none;
  }
  .bg_team-1 {
    display: none;
  }
  }
  @media screen and (max-width: 480px) {
   
   .h3_team  {
     display: none;
 }
  }