//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
   
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Новости

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.
   
    .page__inner 
      .separator_left.separator_left--news
        .separator_left__wrapper.animate__animated.animate__fadeInDownBig 
            h3 news
            .separator_left__border.separator_left__border--news
      .page__content.news
        block content
          h1.site_title
           a(href="index.html") Luna Makoi Project
         
          .row.mb-100
              .row__col-1.animate__animated.animate__fadeInDownBig 
                .news__img.mt-100 
                    img(src="img/n2.jpg", alt="")
                    .news__rotate.news__rotate--one каргее кпк
                .wrapper 
                    p HI TACH
                    p.mb-0 "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              .row__col-2.animate__animated.animate__fadeInUpBig
                .news__img
                    .news__rotate.news__rotate--two каргее кпкпук р упурур 
                    img(src="img/n1.jpg", alt="")
                .news__img.mt-200
                    img(src="img/n3.jpg", alt="")
                    .news__rotate.news__rotate--tree каргее кпк 
              .row__col-3.animate__animated.animate__fadeInDownBig 
                div.wrapper
                    p Выбираем обои: 4 полезных совета Совет №1. Выбирайте по цветам и коллекциям 
                    p Лучше всего остановить свой выбор на обоях из одной коллекции. Так, у вас получится создать интерьер, который будет гармоничен, даже если вы купите обои с разными принтами. Не забывайте о том, что менять обои каждый месяц – не только затратно по финансам, но и отнимает множество времени, которое не всегда есть. Поэтому стоит внимательно отнестись к своему выбору. И не торопитесь покупать всю отделку в одном салоне, обязательно присмотрите несколько вариантов, чтобы было из чего выбрать.
                    a.btn(href="#") <span>Подробнее</span>
                .news__img.mt-100 
                    .news__rotate.news__rotate--four каргее кпкпук р упурур
                    img(src="img/n4.jpg", alt="")
                    
              

      .separator_right.separator_right--news
        .separator_right__wrapper.animate__animated.animate__fadeInDownBig 
            .separator_right__border.separator_right__border--news
            h3 interview 

    +bottom-block()
          ul.sotial 
            li 
              a.sotial.insta(href='/')
                svg(class="sotial" width="23px" height="23px")
                  use(xlink:href="img/sprite.svg#insta") 
            li 
              a.sotial.fb(href='/')
                svg(class="sotial" width="22px" height="23px")
                  use(xlink:href="img/sprite.svg#fb") 
            li 
              a.sotial.twitter(href='/')
                svg(class="sotial" width="22px" height="23px")
                  use(xlink:href="img/sprite.svg#twitter") 
          p #[a(href='tel:+79183009532') 8 918 300 95 32]
          p #[a(href='mailto:Lunela.makoi@gmail.com') Lunela.makoi@gmail.com] 
          p #[a(href='mailto:Lunela.makoi@gmail.com') @Luna_makoi_designer]    
          #wave_wrapper.wave_wrapper 
              audio#audio(loop)
                source(src="img/sound/summer.mp3" type="audio/mpeg")
              svg(class="wave" width="100px" height="43px")
                use(xlink:href="img/sprite.svg#wave") 
    .page__footer-wrapper
        +page-footer()
          block footer
            .row
              .row__col-1 (с) 2020 Luna Makoi Projekt ® <br>Все права защищены
              .row__col-2.footer-center Создание сайта <br> #[a(href='/') indigo market]
              .row__col-3 
                ul 
                  li  #[a(href='about.html') Обо мне]
                  li  #[a(href='project.html') Проекты]
                  li  #[a(href='news.html') Новости]
                  li  #[a(href='servise.html') Услуги]
                div.footer-right Luna <br> Makoi <br> Project
    script(src='js/bundle.js')
