extends ../pug/layout_servise.pug

block meta
  title LUNA SERVISE
  meta(name='keywords', content='описание')
  meta(name='description', content='описание')
  <link rel="icon" type="image/svg+xml" href="img/favicon.svg">

//- block append head
//-   link(rel='stylesheet', href='css/some.css')









//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
