// В этом файле должны быть стили для БЭМ-блока carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.carousel {

  $block-name: &; // #{$block-name}__element
  max-width: 1900px;
  margin: 0 auto;
  margin-top: 114px;

  figure {
    margin: 0;
    padding: 0;
  }
}
// Arrow button size.
$arrow-button-size: 2em !default;

// Arrow SVG size.
$arrow-size: 1.2em !default;

// Dots indicator size.
$dot-size: 12px !default;

// Height of a progress bar.
$progress-bar-height: 3px !default;

$spinner-size: 20px;

//arrows
.splide {
  position: relative;
  visibility: hidden;
  outline: none;
  $root: &;

  &__container {
    box-sizing: border-box;
    position: relative;
  }

  &__list {
    display: flex;
    width: max-content;
    margin: 0;
    padding: 0;
  }

  &.is-active {

    #{$root}__list {
      display: flex;
    }
  }

  &__slide {
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    list-style-type: none;
    margin: 0;
    outline: none;

    img {
      vertical-align: bottom;
    }
  }

  &__slider {
    position: relative;
  }

  &__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 40px;
    height: 32px;
    border: none;
    padding: 0;
    background: transparent;
    transform: translateY( -50% );

    svg {
      transition: 0.5s;
      stroke: #ffffff;
    }

    path {
      fill: $black;
      fill-rule: evenodd;
      transition: 0.5s;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;

      svg {
        transition: 0.5s;
        stroke: #f2e9f1;
      }

      circle {
        fill: $black;
        stroke: $black;
        stroke-width: 1px;
        transition: 0.5s;
      }

      path {
        fill: $white;
        fill-rule: evenodd;
        transition: 0.5s;
      }
    }

    &:focus {
      outline: none;
    }
  }

  //progress

  &__progress {

    &__bar {
      width: 0;
      height: $progress-bar-height;
      background: #ccc;
    }
  }

  #{$root}__slide {
    position: relative;
    border: 0 solid transparent;
    opacity: 1;

    div {
      opacity: 1;
    }

    &.is-visible {
      opacity: 1;
      transition: all 0.9s linear;

      img {
        transform: matrix(0.7, 0, 0, 0.7, 200, 50);
        transition: all 0.5s linear;
      }
    }

    &.first {

      img {
        transform: matrix(0.7, 0, 0, 0.7, -200, 50);
      }
    }

    &.is-active {

      div {
        opacity: 1;
      }

      img {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
  }

  #{$root}__arrow {
    transform: translate( -50%, 0 );

    &--prev {
      top: 50%;
      left: 3vw;

      svg {
        transform: rotateZ( 0deg );
      }
    }

    &--next {
      top: 50%;
      right: 2vw;

      svg {
        transform: rotateZ( 180deg );
      }
    }
  }
}

.slide-desckription {
  position: absolute;
  @include container();
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  z-index: 10;
  color: #ffffff;
  text-transform: uppercase;

 & h3 {
    font-size: 34px;
    max-width:50%;
  }
  &__text {
    font-size:24px;
    max-width:50%;
  }

}

#carousel{

  .splide__pagination {
  display: none;
 }
}
