//- Все примеси в этом файле должны начинаться c имени блока (bottom-block)

mixin bottom-block(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +bottom-block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' bottom-block--' + modsList[i].trim();
      }
    }

  .bottom-block(class=allMods)&attributes(attributes)
    .bottom-block__inner
      block 
