//- Все примеси в этом файле должны начинаться c имени блока (header-contacts)

mixin header-contacts(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header-contacts('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header-contacts--' + modsList[i].trim();
      }
    }

  .header-contacts(class=allMods)&attributes(attributes)
    .header-contacts__inner
      block
